div.Movie-name {
    border-width:2px;
    border-style:solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    border-color: black;
    border-radius: 25px;
    margin: 10px;
    overflow:auto;

}